.main__container {
  height: fit-content;
  width: 45%;
  margin: 2.5%;
  background-color: white;
  border-radius: 10px;
  border: #011983 solid 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.absolute {
  transform: translateX(-200%);
  animation: first-appearance 2s forwards 1;
}

@keyframes first-appearance {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(55%);
  }
}

@keyframes open {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.relative_center {
  position: relative;
  transform: translateX(50%);
  animation: push_left 2s forwards;
}

@keyframes push_left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.relative_left {
  position: relative;
  transform: translateX(0%);
  animation: push_right 2s forwards;
}

@keyframes push_right {
  0% {
    transform: translateX(0%);
  }
  100% {
    position: relative;
    transform: translateX(50%);
  }
}

.creature_element {
  margin: 15px auto;
}

.creature_element__button {
  font-size: 20px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  background-color: #8296f3;
  width: 120px;
}

.creature_element__button:hover {
  cursor: pointer;
  font-weight: 400;
  color: white;
}

.creature_element__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.creature_element_title {
  width: 250px;
  border: black solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.creature_element_title:hover {
  background-color: green;
}

.creature_element_title p {
  text-decoration: none;
  color: blue;
  padding: 5px;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.creature_element_title:hover p {
  color: white;
}
