.main__container {
  height: fit-content;
  width: 45%;
  margin: 0 2.5%;
  background-color: white;
  border-radius: 10px;
  border: #011983 solid 3px;
  transform: translateX(200%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 25px 0;
  max-width: 500px;
}

.main__container_show {
  transform: translateX(200%);
  animation: show 2s forwards;
}

@keyframes show {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.main__container_hide {
  transform: translateX(0%);
  animation: hide 2s forwards;
}

@keyframes hide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

.location__container {
  margin: 10px;
  border: solid 1px black;
  border-radius: 5px;
  text-decoration: none;
  width: 80%;
}

.location__container p {
  text-align: center;
  color: blue;
}

.location__container:hover {
  background-color: green;
}

.location__container:hover p {
  color: white;
}

/* responsive */

@media (max-width: 1279.99px) {
}

@media (max-width: 1023.99px) {
}

@media (max-width: 767.99px) {
  .main__container_show {
    transform: translateX(200%);
    animation: show 2s forwards;
  }

  @keyframes show {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .main__container_hide {
    transform: translateX(0%);
    animation: hide 2s forwards;
  }

  @keyframes hide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  .main__container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 350px;
  }
}

@media (max-width: 522.99px) {
}

@media (max-width: 479.99px) {
}

@media (max-width: 319.99px) {
}
