.creatures__container {
  background-image: url("./../images/background_02.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* flex-direction: column; */
  font-size: 24px;
}
