.locations__container {
  background-image: url("./../images/background_03.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Positioning */

.size_2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_3 {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_4 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_5 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_6 {
  width: 16.6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_7 {
  width: 14.2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size_8 {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* _____________________________________________ */

.scheme__container {
  height: 1500px;
  margin: 50px 0;
  padding: 50px 20px;
  min-width: 1200px;
  width: 1220px;
  background-color: white;
  border-radius: 10px;
  border: #011983 solid 3px;
  transform: translateX(-150%);
  animation: ani 2s forwards;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

.scheme__container_2 {
  height: 1600px;
  padding: 50px 20px;
  width: 1220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.block__container {
  height: auto;
  width: fit-content;
  text-align: center;
  margin: 20px 0;
  max-width: 120px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: #bd0000 solid 2px;
  z-index: 10;
  opacity: 0.9;
  position: relative;
}

.block__container p {
  font-size: 15px;
}

@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.hidden {
  visibility: hidden;
}

/* Coloring */

.brown_background {
  background-color: #6e3a20;
  color: #ffffff;
}

.blue_background {
  background-color: #6f9ff8;
}

.yellow_background {
  background-color: #cf9902;
}

.border_purple {
  border-color: #bd00ce;
}

/*  */

.oval_big {
  width: 220px;
  height: 170px;
  /* border-top: 100px solid transparent;
  border-left: 300px solid;
  border-bottom: 100px solid transparent; */
  border-radius: 50%;
  background-color: #34c011;
  position: absolute;
  opacity: 0.2;
}

.oval_small {
  width: 130px;
  height: 100px;
  /* border-top: 100px solid transparent;
  border-left: 300px solid;
  border-bottom: 100px solid transparent; */
  border-radius: 50%;
  background-color: #34c011;
  position: absolute;
  opacity: 0.2;
}

.border_none {
  border: none;
  text-align: left;
}

ul li {
  font-size: 16px;
  margin: 5px auto;
}

/* Adaptive */

@media (max-width: 1249px) {
  .locations__container {
    justify-content: space-between;
    overflow-x: scroll;
  }
}
