.location__container {
  background-image: url("./../images/background_02.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-size: 24px;
}

.location_props__container {
  height: fit-content;
  width: clamp(100px, 70%, 1200px);
  /* width: 900px; */
  /* background-color: #4861cf; */
  background-color: #e7e7e7;
  border: #011983 solid 3px;
  border-radius: 10px;
  transform: translateX(-150%);
  animation: ani 2s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px;
  padding: 15px 0;
}

@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

.location_image__container {
  height: 300px;
}

.location_image {
  max-width: 90%;
  min-width: 300px;
  min-height: 200px;
}

.location_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creature__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  border-radius: 5px;
  width: 400px;
  margin: 15px auto;
}

.creature__container p {
  color: blue;
}

.creature__container:hover p {
  color: black;
}

.creature_title__container {
  margin: auto;
  width: 100%;
  text-decoration: none;
}

.creature_title__container:hover {
  background-color: green;
  color: black;
}

.location_description__label {
  max-width: 80%;
}

/* responsive */

@media (max-width: 1279.99px) {
}

@media (max-width: 1023.99px) {
}

@media (max-width: 767.99px) {
  .creature__container {
    width: 80%;
  }

  .creature_title__container {
    margin: 0;
  }

  .location_image {
    max-width: 90%;
    min-width: 150px;
  }
}

@media (max-width: 522.99px) {
}

@media (max-width: 479.99px) {
}

@media (max-width: 319.99px) {
}
