.main__container {
  background-image: url("./../images/background_01.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greet__container {
  height: clamp(fit-content, 60%, 600px);
  width: clamp(100px, 70%, 1200px);
  background-color: #e7e7e7;
  border: #011983 solid 3px;
  border-radius: 10px;
  transform: translateX(-150%);
  animation: ani 2s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  text-align: center;
}

@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

h2 {
  padding: 0 20px;
  font-size: 24px;
}

p {
  padding: 0 20px;
  font-style: italic;
  font-size: 20px;
}
