.navigation__container {
  background: linear-gradient(to right, #c3d1ff, #4861cf);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 15%; */
  height: clamp(45px, 15%, 75px);
}

.navigation_list__container {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
}

.navigation_list__item {
  margin: 0 20px;
}

.navigation_list__link {
  color: black;
}

.navigation_list__link:hover {
  font-weight: 800;
}
