name: Deployement
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Get repository code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: install dependencies
        run: npm ci
      - name: Build application
        run: npm run build --if-present
      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://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@github.com/AndriyBilous/nwn_client.git
          npm run deploy -- -u "github-actions-bot <support+actions@github.com>"
